{% extends 'myprofile/base.html' %}

{% block title %}Harumasa's Room{% endblock %}

{% block content %}
<h1 class="h1_title">ABOUT ME</h1>

<article class="top_article">
<div class="box_1">
<h2>Profile</h2>
<dl>
    <dt>Name</dt>
    <dd class="profile_dd">Harumasa Goto</dd>
    <dt>Age</dt>
    <dd class="profile_dd">24</dd>
    <dt>Location</dt>
    <dd class="profile_dd">Tokyo, Japan</dd>
    <dt>Affiliation</dt>
    <dd class="profile_dd">ISP Academy</dd>
</dl>
</div>
<div class="box_2">
<h2>My Skills</h2>
<ul class="skill_ul">
    <li>Python</li>
    <li>Django</li>
    <li>Linux</li>
    <li>AWS</li>
    <li>SQL</li>
    <li>HTML/CSS</li>
    <li>JavaScript</li>
    <li>Photoshop</li>
    <li>Illustrator</li>
</ul>
</div>
<div class="box_3">
<h2>Links</h2>
<dl>
    <dt>MailAddress</dt>
    <dd class="links_dd">sample</dd>
    <dt>Twitter</dt>
    <dd class="links_dd">sample</dd>
    <dt>Facebook</dt>
    <dd class="links_dd">sample</dd>
</dl>
</div>
</article>
{% endblock %}