{% extends 'myprofile/base.html' %}

{% block title %}chibiharu's Room - Works{% endblock %}

{% block content%}
    <h1 class="h1_title">Works</h1>

    <h2>Job career</h2>
    <table class="works_table">
        <tr>
            <th class="works_th">2020</th>
            <td class="works_td">埼玉県業訓練校にてITエンジニアとしての基礎を学ぶ</td>
        </tr>
        <tr>
            <th class="works_th">2020</th>
            <td class="works_td">某有名IT人材派遣会社にてインフラエンジニアとしてデビュー</td>
        </tr>
    </table>
    
    <h2>Job works</h2>

    <table class="works_table">
        <tr>
            <th class="works_th">Web Design</th>
            <td class="works_td">某社内Webサイトをゼロベースからリニューアル</td>
        </tr>
        <tr>
            <th class="works_th">Programming</th>
            <td class="works_td">VBAを用いた教育学習ツールの作成</td>
        </tr>
    </table>
{% endblock%}