{% extends 'myprofile/base.html' %}

{% block title %}Harumasa's Room - Works{% endblock %}

{% block content%}
    <h1 class="h1_title">Works</h1>

    <h2>Job career</h2>
    <table class="works_table">
        <tr>
            <th class="works_th">2020</th>
            <td class="works_td">埼玉県業訓練校にてITエンジニアとしての基礎を学ぶ</td>
        </tr>
        <tr>
            <th class="works_th">2020<br>~</th>
            <td class="works_td">某有名IT人材派遣会社にてインフラエンジニアとしてデビュー</td>
        </tr>
    </table>
    
    <h2>Job works</h2>

{% endblock%}